.demo-card-square.mdl-card {
    width: 200px;
    height: 220px;
    align-items: center;
    justify-content: center;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    /* background:
      url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC; */
    background-color: teal;
  }

  